* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: forestgreen;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
}

header ul * {
    display: inline-block;
}

header ul {
    text-align: right;
}

#img-section {
    margin-top: 50px;
    text-align: center;
}

#contact {
    text-align: center;
    margin: 20px;
    border: 10px solid gold;
    height: 500px;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    margin-bottom: 80px;
}

form {
    padding: 10px;
}

footer {
    text-align: center;
    background-color: forestgreen;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
